body{
    margin: 0;
    background: rgba(255,247,223,1);
}
.container{
    margin-top: 200px;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    position: absolute;
}
.logo{
    display: flex;
    justify-content: center;
}
.text{
    color: #5c5c5c;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.search{
    margin-top: 30px;
}
.imgsearch{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px;
    height: 130px;
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 10px;
    text-align: left;
    
}
::placeholder{
    color: #FFFFFF;
    font-size: 20px;
}
.lupa{
    margin-top: 17px;
    width: 30px; 
    margin-left: 50px;
    height: 30px;;
}
.input{
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    background: none;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    width: 700px;
    height: 30px;
    color: #FFFFFF;
    font-size: 20px;
}
.line{
    margin-top: 10px;
    display: block;
    width: 90%;
    height: 4px;
    margin-right: auto;
    margin-left: auto;
}
.l_inp{
    display: flex;
    justify-content: baseline;
}
.chosenbtn{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    width: auto;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 30px;
    color: #FFB301;
    border: none;
    margin-left: 50px;
    margin-top: 10px;
    padding-left: 15px;
}
.list{
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-sizing:border-box;
}
.listbtn{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    width: auto;
    height: 40px;
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);;
    border-radius: 30px;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.x{
    width: 20px;
    padding-left: 10px;
    margin-top: 8.5px;
}
.textbtn{
    margin-top: 7px;
}
.footer{
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}
.img3{
    background: url("/images/3.png");
    
}


